<nav id="main-nav">
	<div id="layout-wrapper">
		<a href="/">Love-for-the-Uglies</a>
		<ul>
			<li><a href="/comments">Comments</a></li>
			<li><a href="/play">Game</a></li>
			<% if (user) { %>
				<li><a href="/profile/<% user.id %>">Profile</a></li>
				<li><a href="/logout">Sign Out</a></li>
			<% } else { %>
				<li><a href="/login">Sign In</a></li>
			<% } %>
		</ul>
	</div>
</nav>