<!DOCTYPE html>
<html>
	<head>
		<title>Comments - Love-for-the-Uglies</title>
		<link rel="stylesheet" href="/style/main.css">
	</head>
	<body>
		<%- include("partials/navbar") %>
		<main>
			<h1>Comments</h1>
			<p>Justice for ugly animals please.</p>
		</main>
	</body>
</html>