<!DOCTYPE html>
<html>
	<head>
		<title>Home - Love-for-the-Uglies</title>
		<link rel="stylesheet" href="/style/main.css">
	</head>
	<body>
		<%- include("partials/navbar") %>
		<main>
			<h1>Home</h1>
			<p>Ugly animals are often rejected in favour of cuter variants.  Here are some examples to tug at your heart strings:</p>
			<div id="image-grid">
				<div>
					<img src="/images/naked-mole-rat.png">
					<h2>Naked Mole-Rat</h2>
					<p>by Roman Klementschitz <a href="https://creativecommons.org/licenses/by-sa/3.0/">(Licence)</a></p>
				</div>
				<div>
					<img src="/images/proboscis-monkey.png">
					<h2>Proboscis Monkey</h2>
					<p>by Charles J. Sharp <a href="https://creativecommons.org/licenses/by-sa/4.0/">(Licence)</a></p>
				</div>
				<div>
					<img src="/images/goblin-shark.png">
					<h2>Goblin Shark</h2>
					<p>by Dianne Bray/Museum Victoria <a href="https://creativecommons.org/licenses/by/3.0/au/deed.en">(Licence)</a></p>
				</div>
			</div>
		</main>
	</body>
</html>